html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.marker-work {
    background-color: rgb(255, 166, 0);
}

.marker-pleasure {
    background-color: rgb(255, 0, 43);
}

.marker-home {
    background-color: rgb(4, 122, 4);
}

.marker-birth {
    background-color: rgb(223, 18, 223);
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
