body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

div.mapboxgl-popup-content>div {
    top: -14px;
    position: relative;
}

div.mapboxgl-popup-content>p {
    margin: 0;
}

.marker {
    background-size: cover;
    width: 32px;
    height: 37px;
    cursor: pointer;
}

.marker-Pleasure {
    background-image: url('/images/airport.png');
}

.marker-Home {
    background-image: url('/images/home-2.png');
}

.marker-Future {
    background-image: url('/images/notvisited.png');
}

.marker-Work {
    background-image: url('/images/letter_w.png');
}

.marker-Birth {
    background-image: url('/images/star-3.png');
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#info-box {
    position: absolute;
    margin: 20px;
    width: 200px;
    /* top: 735px; */
    bottom: 20px;
    padding: 20px;
    background-color: #fff;
    overflow-y: hidden;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.emoji {
    text-decoration: none;
}
